package ${packagePrefix}.dao;

import ${packagePrefix}.domain.${table.classNameCapCase};
import ${packagePrefix}.entity.req.${table.classNameCapCase}QueryRequest;
import org.apache.ibatis.annotations.Param;
import org.springframework.stereotype.Repository;

import java.util.List;

@Repository
public interface ${table.classNameCapCase}Dao {

    int deleteByPrimaryKey(${primaryKey.propertyDataType} ${primaryKey.propertyNameLowCase});

    int insert(${table.classNameCapCase} record);

    int insertSelective(${table.classNameCapCase} record);

    ${table.classNameCapCase} selectByPrimaryKey(${primaryKey.propertyDataType} ${primaryKey.propertyNameLowCase});

    int updateByPrimaryKeySelective(${table.classNameCapCase} record);

    int updateByPrimaryKey(${table.classNameCapCase} record);

    List<${table.classNameCapCase}> list(@Param("${table.classNameLowCase}QueryRequest") ${table.classNameCapCase}QueryRequest ${table.classNameLowCase}QueryRequest);

}