package ${packagePrefix}.domain;

import java.io.Serializable;
import java.util.Date;

/**
 * @author qewli12
 * 2019/2/20 10:40
 */
public class ${table.classNameCapCase} implements Serializable {

    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
    /**
     * $column.columnComment
     */
    private $column.propertyDataType $column.propertyNameLowCase;

#end

#foreach ($column in $columns)
    public void set${column.propertyNameCapCase}($column.propertyDataType $column.propertyNameLowCase) {
        this.$column.propertyNameLowCase = $column.propertyNameLowCase;
    }

    public $column.propertyDataType get${column.propertyNameCapCase}() {
        return $column.propertyNameLowCase;
    }

#end
}