package ${packagePrefix}.service;

import com.github.pagehelper.PageHelper;
import com.huinong.framework.autoconfigure.mybatis.MybatisPageValue;
import ${packagePrefix}.dao.${table.classNameCapCase}Dao;
import ${packagePrefix}.domain.${table.classNameCapCase};
import ${packagePrefix}.entity.req.${table.classNameCapCase}AddRequest;
import ${packagePrefix}.entity.req.${table.classNameCapCase}QueryRequest;
import ${packagePrefix}.entity.req.${table.classNameCapCase}UpdateRequest;
import lombok.extern.slf4j.Slf4j;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import java.util.Date;
import java.util.List;

/**
 * @author qewli12
 * 2019/2/20 10:40
 */
@Slf4j
@Service
public class ${table.classNameCapCase}Service {

    @Autowired
    private ${table.classNameCapCase}Dao ${table.classNameLowCase}Dao;

    /**
     * 新增
     *
     * @param ${table.classNameLowCase}AddRequest
     * @return
     */
    public ${table.classNameCapCase} save(${table.classNameCapCase}AddRequest ${table.classNameLowCase}AddRequest) {
        ${table.classNameCapCase} record = new ${table.classNameCapCase}();
#foreach ($column in $columns)
#if($column.columnKey != 'PRI')
        record.set${column.propertyNameCapCase}(${table.classNameLowCase}AddRequest.get${column.propertyNameCapCase}());
#end
#end
        ${table.classNameLowCase}Dao.insertSelective(record);
        return record;
    }

    /**
     * 修改
     *
     * @param ${table.classNameLowCase}UpdateRequest
     * @return
     */
    public int update(${table.classNameCapCase}UpdateRequest ${table.classNameLowCase}UpdateRequest) {
        ${table.classNameCapCase} record = new ${table.classNameCapCase}();
#foreach ($column in $columns)
        record.set${column.propertyNameCapCase}(${table.classNameLowCase}UpdateRequest.get${column.propertyNameCapCase}());
#end
        return ${table.classNameLowCase}Dao.updateByPrimaryKeySelective(record);
    }

    /**
     * 删除
     *
     * @param id
     * @return
     */
    public int remove(Long id) {
        return ${table.classNameLowCase}Dao.deleteByPrimaryKey(id);
    }

    /**
     * 查询
     *
     * @param id
     * @return
     */
    public ${table.classNameCapCase} get(Long id) {
        return ${table.classNameLowCase}Dao.selectByPrimaryKey(id);
    }

    /**
     * 列表
     *
     * @param ${table.classNameLowCase}QueryRequest
     * @return
     */
    public MybatisPageValue<${table.classNameCapCase}> list(${table.classNameCapCase}QueryRequest ${table.classNameLowCase}QueryRequest) {
        PageHelper.startPage(${table.classNameLowCase}QueryRequest.getPageNum(), ${table.classNameLowCase}QueryRequest.getPageSize());
        List<${table.classNameCapCase}> list = ${table.classNameLowCase}Dao.list(${table.classNameLowCase}QueryRequest);
        return new MybatisPageValue<>(list);
    }

}
